/* css styles */

.btn-primary {
background-color: orange !important;
}

.btn-secondary {
background-color: pink !important;
}

.navbar-dark, navbar-light, .navbar{
    background-color: lightsalmon;
}